body {
    font-family: 'Poppins', sans-serif!important;
}
h1, h2, h3, h4, h5, h6, p{
    padding: 2.5%;
    margin: 0px!important;
}
.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  }
  ul {
      padding-top: 2.5%;
  }
  .navbar {
      display: none!important;
  }

/* NAV BAR STYLES */
nav {
    font-family: 'Poppins', sans-serif!important;
    background-color: #FF7F50;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 5% 0;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    transition: 1.5s ease-in;
}
nav a:hover {
    color: #788D9F;
    transition: .8s;
    text-decoration: none;
}
.animate-this-pls {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    .animate-this-pls span {
        display: block;
        position: absolute;
        background-color: #fff;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .animate-this-pls span:nth-child(1) {
        top: 0px;
    }
    
    .animate-this-pls span:nth-child(2), .animate-this-pls span:nth-child(3) {
        top: 10px;
    }
    
    .animate-this-pls span:nth-child(4) {
        top: 20px;
    }
    
    .animate-this-pls.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
    }
    
    .animate-this-pls.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .animate-this-pls.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .animate-this-pls.open span:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
    }
    
    /* Icon 4 */
    
    .animate-this-pls span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .animate-this-pls span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .animate-this-pls span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .animate-this-pls.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }
    
    .animate-this-pls.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    
    .animate-this-pls.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }

    /* MAIN CONTENT */
.row {
    margin: 2.5% 0;
}
.verticle-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.align-right {
    text-align: right;
    padding: 0px;
    padding-right: 2.5%!important;
}
@media (max-width: 844px) {
    .dates {
        display: none;
    }
}

.my-img {
    display: block;
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}
.header-title::first-letter {
    color: #FF7F50;
}
.column-info h5, .column-info p{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.column-inner a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.column-inner a:hover{
    color: #FF7F50;
    transition: .5s;
    text-decoration: none;
}
.interests {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.interests img {
    width: 12%;
 } 
.climbing-modal .bg-modal-container {
    background-color: #303030!important;    
}
.music-modal .bg-modal-container {
    background-color: #303030!important;
}
.riding-modal .bg-modal-container{
    background-color: #303030!important;
    
 }
 
.bg-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 35%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     
}
.bg-modal-container {
    background-color: #FF7F50; 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    width: 80%;
    color:#fff;
}
.bg-modal-container p {
    padding-top: 50px;
}
.bg-close {
    position: absolute;
    right: 12%;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    color: #FF7F50;
}
.bg-modal .bg-modal-container img {
    margin: 0 auto;
    display: block;
    padding: 2.5%;
}
@media (max-width: 767px) {
    .bg-modal .bg-modal-container img {
        width: 65%;
    }
}

/* BOOTSTRAP FIXES */

.about-row .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
    }
@media (min-width: 844px) {
.col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
    }
}